<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Assocaitive Orders </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container">
    {% include 'includes/_messages.html' %}
    {% block body %}
    {% endblock %}
        <script scrc="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
    </body>
</html>

